$white: #fff;
$black: #373737;
$red: #df2f4a;
$icon-red: #f74236;
$green: #1C6E5C;
$grey: #a4acb8;
$grey-dark: #404250;
$grey-light: rgba(28,110,92,.05);

$main-color: $black;
$link-color: $main-color;

$min-width: 320px;
$max-width: 1080px;
$base-bg: #0a0a0a;
$base-font-size: 1.8rem;
$mobile-font-size: 1.4rem;
$base-line-height: 1.5;
$base-font-family: 'Museo Sans Cyrl', sans-serif;
$custom-font-family: 'Helvetica Neue LT Pro Black', sans-serif;

$headerHeight: 7.2rem;
$headerHeightMobile: 7.2rem;
$footerHeight: 9.3rem;

$default-transition: all .3s linear;