.page-notes .section-hero {
  aside {
    @media screen and (max-width: 980px) {
      padding-bottom: 0;
      width: 100%;
    }
  }
}

.articles-list {
  font-size: 14px;
  font-weight: 100;
  list-style: none;
  margin: 20px 0 0;
  max-width: 450px;
  @media screen and (max-width: 980px) {
    &:not(.mobile) {display: none;}
  }
  &.mobile {
    max-width: 100%;
    padding: 20px;
    width: 100%;
    @media screen and (min-width: 981px) {display: none;}
  }


  li {
    padding-left: 55px;
    position: relative;
    &:not(:last-child) {margin-bottom: 30px;}
    @media screen and (max-width: 1200px) {padding-left: 30px;}
    &:before {
      background: #fff;
      content: '';
      height: 2px;
      left: 0;
      top: 31px;
      position: absolute;
      width: 25px;
      @media screen and (max-width: 1200px) {width: 15px;}
    }
  }

  .category {
    font-size: 12px;
    a {
      cursor: default;
      pointer-events: none;
    }
  }

  h5 {
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 3px;
    a:hover {opacity: .7;}
  }

  .date {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .entry-content a {
    color: rgba(255, 255, 255, .7);
    text-decoration: underline;
    &:hover {color: #fff; text-decoration: none;}
  }

  &.mobile {
    .category, .date {color: #fff;}
  }
}//.articles-list


.single {

  .page-content {
    .category {
      cursor: default;
      font-size: 12px;
      pointer-events: none;
    }
    .article-title {

    }
    .date {
      font-size: 12px;
      margin-bottom: 30px;
    }
  } //.page-content

}//.single

.notes {
  @extend .single;
}

.featured-image img {
  display: block;
  margin: 0 auto 50px;
}